/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
  */

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --pseudo-rotate: rotate(0deg);
}

body {
  background-image: url("./IMG/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  background-position: center;
}

.main-container {
  margin: auto;
  height: 56rem;
  width: 56rem;
  padding: 1rem;
  padding-top: 1.7rem;
  overflow: hidden;
}

.circle-container {
  margin: auto;
  position: relative;
  width: 54rem;
  height: 54rem;
}

.buttons-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.circle-container::before {
  content: "";
  position: absolute;
  width: 54rem;
  height: 54rem;
  background-image: url("./IMG//rueda.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: var(--pseudo-rotate);
  transition: all 0.5s;
}
.circle-container::after {
  content: "";
  position: absolute;
  width: 54rem;
  height: 54rem;
  background-image: url("./IMG/pistolas-III.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s;
  mix-blend-mode: overlay;
}

.circle {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 1.6rem);
  left: calc(50% - 1.6rem);
  width: 3.2rem;
  height: 3.2rem;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: black;
  padding: 0.35rem;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container h2 {
  font-size: 22px;
}

.rules {
  display: block;
  position: absolute;
  top: 4rem;
  left: 4rem;
  background-image: url("./IMG/cartel.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.rules-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./IMG/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.2rem;
  z-index: 2;
  text-align: center;
  padding: 4rem;
}

.ranking {
  display: block;
  position: absolute;
  top: 4rem;
  right: 4rem;
  background-image: url("./IMG/cartel.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ranking-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./IMG/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.2rem;
  z-index: 1;
  text-align: center;
  padding: 4rem;
}

.result-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./IMG/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.2rem;
  z-index: 2;
  text-align: center;
  padding: 4rem;
}

.time-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  width: 8rem;
  height: 8rem;
  background-image: url("./IMG/reloj.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.time-text {
  padding-top: 2.3rem;
  font-size: 1.3rem;
}

button {
  background-color: #574731;
  color: #f2edeb;
  margin-bottom: 0.5rem;
  height: 45px;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0 1.5rem;
  border: none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.48);
}

button:disabled {
  opacity: 50%;
  box-shadow: none;
}

button:active {
  box-shadow: none;
}

.main-buttons {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.btn-new-game {
  background-image: url("./IMG/cartel.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-end {
  background-image: url("./IMG/cartel.png");
  background-size: cover;

  background-position: -1px;
}

.central-container {
  width: 24rem;
  height: 20rem;
  position: absolute;
  top: 17rem;
  left: 15rem;
  background-image: url("./IMG/tablero-min.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.questions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 5.8rem;
  margin-top: 0.5rem;
}

.questions {
  color: aliceblue;
  font-size: 0.95rem;
  line-height: 1.2rem;
  text-align: center;
}

.userAnswer {
  margin-top: 2rem;
  margin-right: 3%;
  width: 80%;
  height: 3rem;
  padding: 0.2rem;
  display: block;
  font-size: 1.25em;
  text-align: center;
  display: block;
  color: aliceblue;
  background-color: #ffffff40;
  border: none;
  border-radius: 3px;
  
}

.userAnswer:focus {
  outline: none;
}

.question-btn-container {
  margin-top: 3rem;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}

.check-text {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  text-align: center;
  color: aliceblue;
  width: 100%;
}

.btn-pasapalabra {
  margin: 0;
  background-color: #dc9e50d6;
  width: 35%;
}

.btn-confirm {
  margin: 0;
  background-color: #dc9e50d6;
  width: 35%;
}

.ds-none {
  display: none;
}

.__green {
  border: #008000 4px solid;
}

.__yellow {
  border: #e1d91a 4px solid;
}

.__red {
  border: #e63f3fc2 4px solid;
}
